[client]
port        = __CAMP_DB_PORT__
socket      = __CAMP_DB_SOCKET__

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port        = __CAMP_DB_PORT__
socket      = __CAMP_DB_SOCKET__
datadir     = __CAMP_DB_DATA__

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
log = __CAMP_DB_LOG__.query

long_query_time = 5
log-slow-queries = __CAMP_DB_LOG__.slow

skip-networking
skip-name-resolve

# Additional options that can save you good amounts of ram
#skip-innodb
#skip-bdb


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer              = 16M

