body, table, th, td {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11pt;
}

body {
	margin: 5%;
	padding: 0;
	background-color: #CEDBEC;
}
  
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	empty-cells: show;
	padding: 5px;
}
